<section class="bg-white">
    <div>
        <h2>¿Te esta pasando esto?</h2>
        <ol>
            <li>Estas comprando productos de calidad media o baja?</li>
            <li>No tienes proveedores confiables?</li>
            <li>No tienes tiempo para gestionar tus compras?</li>
            <li>No tienes experiencia en compras internacionales?</li>
            <li>No tienes tiempo para gestionar tus compras?</li>
        </ol>
    </div>

    <div>
        <img src="" alt="" />
    </div>
</section>
